@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Home</title>
</head>
<body>
	<form>
		<button type="submit" name="a" formmethod="post" formaction="@Url.Action("Signout")">Clear cookies</button>
	</form>
	<dl>
		@foreach (var claim in this.User.Claims)
		{
			<dt><strong>@claim.Type</strong></dt>
			<dd>@claim.Value</dd>
		}
	</dl>
</body>
</html>
