[submodule "docs/_site"]
	path = docs/_site
	url = git@github.com:veracity-engineering/SolutionPackage.git
	branch = gh-pages
[submodule "docs/articles"]
	path = docs/articles
	url = git@github.com:veracity-engineering/SolutionPackage.wiki.git
	branch = master
