name: Deploy docfx content to Pages

on:
  push:
    branches: ["main"]
    paths: ["docs/**"]
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.x'        

    - name: Install docfx
      run: dotnet tool install -g docfx --version 2.61.0
        
    - name: Generate docs
      run: |
        git submodule update --init --recursive
        git submodule update --recursive --remote
        
        cd docs        
        docfx docfx.json
        
        cd _site
        git config user.email "github-actions-bot@dnv.com"
        git config user.name "github actions boot"
        git add .
        git commit -m "Update docs" || echo "No change to commit"
        git push origin HEAD:gh-pages
