name: Deploy docfx content to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.x'

    - run: dotnet tool install -g docfx
    - run: docfx docs/docfx.json
    
    - name: Update submodules
      run: |
        git submodule update --init --recursive -- "docs/_site"
        
    - name: Commit to gh-pages
      run: |
        git config user.email "github-actions-bot@dnv.com"
        git config user.name "github actions boot"
        git add --all
        git commit -m "Update docs" || echo "No change to commit"
        git push
